.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    position: absolute;
    width: 100%;
    background-color: transparent; 
    z-index: 1000; 
}

.nav_logo {
    font-family: outfit;
    font-size: 42px;
    font-weight: 500;
    color: #fff;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    color: #fff;
    width: 100%;
    margin-left:90px;
}

.nav_menu a {
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease;
}

.nav_menu a:hover {
    color: #eaeaea; 
}


.nav_menu a:active,
.nav_menu a:focus {
    outline: none;
    color: inherit; 
}

.nav_contact {
   
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.nav_contact:hover {
    background-color: #eaeaea;
}
